.project_details {
  padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
  margin-bottom: 0.5em;
}
.project_details span {
  font-weight: bolder;
}
.project_details h1 > span {
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
}

.project_details h1 {
  background-color: #222;
  color: #9e9a9a;
  padding: 0.4em;
}
.service_form_container,
.details_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project_details button {
  background-color: #222;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  max-height: 40px;
  border: none;
}

.project_details button:hover {
  color: #ffbb33;
}

.project_info {
  width: 100%;
  background-color: #eee9e9dc;
  padding: 10px 10px;
}

.service_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service_list_item {
  list-style: none;
  background-color: #7a7a7a;
  margin-bottom: 1.2em;
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service_list_item li {
  list-style: none;
  
}
