.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
