.father {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  min-height: calc(100vh - 135px);
}

.father > .btn {
  padding: 8px 15px;
  display: flex;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  margin-top: 30px;
  text-decoration: 1px underline #ff9900;
  color: #1f1e1d;
}

.father > .btn:hover:before {
  content: "";
  text-align: center;
  position: absolute;
  bottom: 2px;
  left: -100%;
  width: 5px;
  height: 5px;
  animation: hoverButton 1s linear infinite;
  z-index: 1;
  transform: rotate(-45deg);
  border-left: 2px solid #ff9900;
  border-top: 2px solid #ff9900;
}

@keyframes hoverButton {
  from {
    left: 100%;
  }
  50% {
  }
  to {
    left: -100%;
  }
}

.father > h1 {
  text-align: center;
  color: #1f1e1d;
  border-bottom: 1px solid rgb(136, 119, 126);
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 15px;
  padding-top: 30px;
}
.father > h1 > span {
  text-align: center;
  font-weight: bolder;
  color: #ff9900;
}
.father > section > div > p:first-letter {
  text-transform: uppercase;
  padding: 0;
}
.father > section > div > p {
  color: #7c7c7c;
  font-weight: normal;
}
.father > section > div > p > span {
  text-align: center;
  color: #1f1e1d;
  font-weight: bold;
}
.father > section > div > p > span:first-letter {
  text-transform: uppercase;
}

.btnCrud {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.btnCrud button {
  padding: 10px 16px;
  border: 1px solid #1f1e1d;
  color: #ffffff;
  background-color: #1f1e1d;
  cursor: pointer;
  width: 100px;
}

.btnCrud button:hover {
  color: #ff9900;
  border: 1px solid #ff9900;
}

.info {
  background-color: rgb(233, 230, 230);
  border-radius: 15px;
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas com a mesma largura */
  grid-template-rows: auto;
  gap: 20px;
}
.info p:last-child {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(194, 185, 185);
  grid-column: 1 / span 2;
  text-align: center;
}

.info > p {
  padding: 10px;
}

.info li {
  list-style: none;
  margin-left: 5px;
}
.info li::before {
  list-style: none;
  content: "•";
  color: #ff9900;
  margin-right: 5px;
}

.info .site a {
  color: inherit;
}
.info .fundador {
  color: #ff9900;
}
.info .idade {
  padding-left: 5px;
  color: #686363;
}

figure {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  background-color: #818181;
  border-radius: 8px;
}
figure > figcaption {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  filter: drop-shadow(5px 5px 3px #000000);
  mix-blend-mode: overlay;
  font-size: 58px;
}

.imagem {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}
.imagem img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.btnCopy {
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #8b8888;
  padding: 1px;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 3px #00000091);
  margin-left: 10px;
  cursor: copy;
}
.copy {
  display: none;
  position: absolute;
  top: -29px;
  right: 20px;
  z-index: 100;
  background-color: inherit;
  padding: 5px;
  border-radius: 8px;
  filter: inherit;
}

.btnCopy:hover > .copy {
  display: flex;
}

.btnCopy:hover {
  filter: drop-shadow(2px 2px 2px #ff730091);
  color: #ff730091;
  background-color: #332c2c;
}
