footer {
  background-color: #5e5656;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 70px;
  flex-direction: column;
  /* min     ideal      max   */
  font-size: clamp(0.8rem, 0.9rem, 1rem);
}
footer a {
  text-decoration: none;
}

footer div:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #c4b586;
  height: 35px;
  width: 100%;
  align-items: center;
  gap: 20px;
}
footer div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
}
footer div:nth-child(1) a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #4d4a4a;
  
}
footer div:nth-child(1) a:hover {
  color: #947614;
}
footer div:nth-child(2) {
  display: flex;
  color: #ccc;
}
footer div:nth-child(2) a {
  color: #ccc;
}
footer div:nth-child(2) span {
  color: #ffc400;
}
