.father {
  min-height: calc(100vh - 135px);
  text-align: center;
}
.father h1 {
  color: #1f1e1d;
}

.father form {
  margin-top: 50px;
}

.father .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.father .form > :last-child {
  grid-column: 1 / span 2; /* começa no primeiro e ocupa os 2 espaços*/
}

@media (max-width: 900px) {
  .father .form {
    grid-template-columns: 1fr;
  }
  .father .form > :last-child {
    grid-column: 1 / span 1; /* começa no primeiro e ocupa os 2 espaços*/
  }
}
.data{
  width: 100%;
  cursor: pointer;
}


.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  align-self: center;
  width: 100px;
  max-width: 100%;
  margin: 50px auto;
  padding: 10px 16px;
  background-color: #1f1e1d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #ff9900;
}
