:root {
  --paddindTabela: 15px;
}

.father {
  text-align: center;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 135px);
}
.father .texto {
  padding: 50px 10px;
  text-align: start;
}
.father .texto h1 {
  color: rgb(56, 55, 55);
  margin-bottom: 30px;
}
.father .texto p {
  color: #888585;
}

.father a {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 10px;
  font-weight: bolder;
  color: #1f1e1d;
  text-decoration: none;
}

.father a:hover,
.father a > .icon:hover {
  filter: drop-shadow(1px 1px 1px #ff6600);
}
.father a > .icon {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bolder;
  filter: drop-shadow(1px 1px 1px #ff6600);
}

/* tabela  */

.father table {
  width: 96%;
  margin: 0 auto;
  color: #ffffff;
  border-collapse: collapse; /* Remove a separação entre as células da tabela */
  text-align: start;
  margin-bottom: 50px;
  overflow-x: scroll; /* Adiciona uma barra de rolagem horizontal quando necessário */
}
.father table td {
  height: 35px;
  color: #807b7b;
  padding: 0 var(--paddindTabela);
}

.father table th {
  background-color: #18181d;
  height: 50px;
  font-weight: bolder;
  text-align: justify;
  padding: 0 var(--paddindTabela);
}

.father table tr:nth-child(even) {
  background-color: rgb(191, 197, 157);
}
.father table tr:nth-child(odd) {
  background-color: rgb(233, 238, 207);
}

/***

// tabela


.site {
  display: flex;
  position: relative;
  align-items: start;
  gap: 10px;
  font-size: 15px;
  font-weight: normal !important;
  color: #6b6a6a !important;
}
.site > a {
  font-weight: normal !important;
  border: none !important;
  filter: none !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #424242;
  border: transparent;
  border-radius: 3px;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px #000000);
}
.copy {
  display: none;
  position: absolute;
  top: -25px;
  right: 20px;
  z-index: 100;
  background-color: #1f1e1d;
  padding: 5px;
  border-radius: 8px;
  filter: drop-shadow(3px 3px 3px #ff730091);
}
.btn:hover > .copy {
  display: flex;
}

.btn:hover {
  filter: drop-shadow(2px 2px 2px #ff730091);
  color: #ff730091;
  background-color: #1f1e1d;
}


********/
